<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Serve SASS source and source maps as text so the "view source"
           links on preprocessing.html resolve instead of returning 404. -->
      <remove fileExtension=".scss" />
      <mimeMap fileExtension=".scss" mimeType="text/plain" />
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
